@font-face {
  font-family: Logo;
  src: url('Anurati-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'KaiTi';
  src: url('华文楷体.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'XingKai';
  src: url('华文行楷.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'XinWei';
  src: url('华文新魏.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QingKai';
  src: url('清楷体.ttf');
  font-weight: normal;
  font-style: normal;
}
